body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #d2bac7;
    background-color: #4A5C82;
    background-color: #93ACDD;
    color: #333;

}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 90%;
    margin:  100px auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
#streamers {
    width: 100%;
    max-width: 600px;
   padding: 0;
   margin-bottom: 20px;
}
#streamers-list{
    /* max-width: 600px; */
    width: 100%;
    margin: 0 auto;
  
    
}
.streamers-list li{
    background-color: #fff;
     width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
 .buttons{
  
    color: white;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
   
} 

#all{
    padding: 0 18px;
    margin :5px 0;
    cursor: pointer;
}

.selectors  {
    display: flex;
    align-items: center;
    justify-content: center;
   position: relative;
   overflow: hidden;
  
}
 .circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid #f4f4f4;
    transition: transform 0.4s ease;
    transform: translateX(50px);
    background-color: #f4f4f4;
    cursor: pointer;
   
 }

 .selectors button{
    background-color: #f4f4f4;
    opacity: 0;
   transform: translateX(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;

    
 }

/*  
 #online-btn, #offline-btn{
   border: none; 
   opacity: 0;
   transform: translateX(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
  
 } */
    

/* first circle and its btn are active on load */
 .selectors.active .circle{
    transform: scale(1.2);
    transform: translateX(-3px);
    cursor: pointer;
}
.selectors.active button{
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    cursor: pointer;
}   
.selectors:hover .circle{
    /* transform: scale(1.2); */
    transform: translateX(-5px);
}

.selectors:hover button{
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;  
    cursor: pointer;
}


#header{
    display: flex;
    justify-content: a;
    align-items: center;
    margin: 20px 0 0 0;
  max-width: 600px;
  width: 100%;
  background-color: #5C5357;
} 

#header h1{
  width: 100%;
    text-align: center;
    color: white;
    margin: 10px 0;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
}

  img{
    max-width: 100%;
    height: auto;
    width: 40px; 
    border-radius: 50%;
    margin-right:20px ; 
  }

  .profile-image {
    border-radius: 50%;
    margin-right: 10px;
  } 
.streamer-item {
  border: 2px solikd red;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;

}
.streamer-item div {
    margin-left: 10px;
}
.streamer-item a {
    font-weight: bold;
    color:  #d1eab7;

    text-decoration: none;
}
.streamer-item a:hover {
    text-decoration: underline;
}

.live {
    color: #4A5D82;
    font-weight: bold;
    background-color: #B8CBA5;
     margin: 0  ;   
}
.offline {
   
    color: #93acdd;
    font-weight: bold;
    background-color: #53617d;
     margin: 0  ;

}

ul{
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin:  auto;
}   

 .streamer-item{
    margin: 0;
    border-bottom: 1px solid #ddd;  
}

.stream-info {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
  width: 90%;
}

.status-cols {
     justify-content: center;
     align-items: center;
    flex-grow: 1;
    text-align: center;
    width: 100%;   
}

.stream-info a{
    width: 150px;
}